body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url(../images/login-image.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	filter: blur(10px);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.main-div-config {
	padding: 50px;
	z-index: 1;
	position: absolute;
    margin-top: 150px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
}

